@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.grid_container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 4fr;
  height: 100vh;
  background-color: red;
}

.sidemenu {
  grid-column: 1 / 2;
  grid-row: 1/3;
  background: #99f6e4;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 3rem 1rem;
  color: #134e4a;
}

.sidemenu .dashboard_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 4rem;
}

.sidemenu .dashboard_logo i {
  font-size: 2.5rem;
}

.sidemenu .dashboard_logo h1 {
  font-size: 1.5rem;
  font-weight: 500;
}

.sidemenu .list_features ul li,
.sidemenu .list_options ul li {
  list-style: none;
  margin-bottom: 0.5rem;
}

.sidemenu .list_features ul li:nth-child(6) {
  margin-bottom: 4rem;
}

.sidemenu .list_features ul li a,
.sidemenu .list_options ul li a {
  text-decoration: none;
  color: #134e4a;
  font-size: 1rem;
}

.sidemenu .list_features ul li a i,
.sidemenu .list_options ul li a i {
  margin-right: 1rem;
  font-size: 1.3rem;
}

.sidemenu .list_features ul li a span,
.sidemenu .list_options ul li a span {
  font-weight: 700;
  text-transform: uppercase;
}

.sidemenu .list_features ul li a span:hover,
.sidemenu .list_options ul li a span:hover {
  text-decoration: underline;
}

.logo_info {
  grid-column: 2 / 3;
  grid-row: 1/2;
  background: #fff;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 100%;
}

.logo_info .row_1 {
  display: flex;
  justify-content: space-between;
  padding: 10px 3rem;
}

.row_1 .search {
  display: flex;
  align-items: center;
  width: 50%;
  gap: 1rem;
}

.row_1 .search i {
  font-size: 1.5rem;
}

.row_1 .search input {
  width: 100%;
  border-radius: 5px;
  border: 0;
  outline: none;
  padding: 5px 5px;
  background: #cffafe;
}

.logo_info .row_1 .notify_user {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo_info .row_1 .notify_user i {
  font-size: 1.5rem;
}

.logo_info .row_1 .notify_user img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
}

.logo_info .row_2 {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
}

.logo_info .row_2 .user_info {
  display: flex;
  align-items: center;
  gap: 25px;
}

.logo_info .row_2 .btns {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo_info .row_2 .btns button {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  border-radius: 5px;
  background-color: #99f6e4;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.logo_info .row_2 .btns button:hover {
  border: 2px solid #99f6e4;
  background: transparent;
  color: #99f6e4;
}

.logo_info .row_2 .user_info img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
}

.main_info_show {
  grid-column: 2 / 3;
  grid-row: 2/3;
  background: #cffafe;
}
